h1 {
    color: purple;
}

@media (min-width: 576px) {
    h1 {
        color: blueviolet
    }
}

.btn-primary {
    background-color: palevioletred;
}       

.container {
    background-color: violet;
}

.container-fluid {
    background-color: blueviolet;
}

.container-sm {
    margin-bottom: 30px;
    border: 2px solid pink
}

.container-md {
    margin-bottom: 30px;
    border: 2px solid blueviolet
}

.container-lg {
    margin-bottom: 30px;
    border: 2px solid purple
}

/* Grid */
.container {
    border: 5px dotted purple;
    padding: 10px;
    margin-bottom: 50px;
}

.row {
    border: 5px solid palevioletred;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.col,
.col-4, 
.col-2,
.col-1,
.col-11,
.col-6 {
    border: 2px dashed rgb(49, 8, 49);
    height: 100%;
    padding: 10px;

}

#largura-limitada {
    max-width: 500px;
}

/* Alinhamento vertical */

#vertical {
    height: 250px;
    border-color: crimson;
}

#vertical .row{
    height: 100%;
}

.col-6 {
    height: 50px;
}

#gutter.row {
    height: 200px;
}

#gutter.col-6 {
    margin: auto;
}
